{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>ToDo App</title>

		<link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="{% static 'todo/bs/css/flatly.min.css' %}" />
		<link rel="stylesheet" href="{% static 'todo/styles.css' %}" />
	</head>
	<body>
		<div class="container-fluid" id="wrapper">
			<div class="row">
				<div class="col-lg-4 col-lg-offset-4" id="content">
                    {% block title %} LOG IN {% endblock %}
                    {% load crispy_forms_tags %}
                    {% block content %}
                        <form method="POST" class="form-group">
                            {% csrf_token %}
                            {{ form|crispy }}
                            <p>Don't have an account? Create one <a href="/register">here</a></p>
							<button type="submit" class="btn btn-success"><a href="{% url 'index' %}">Login</a></button>
                        </form>
                    {% endblock %}
                </div>
            </div>
        </div>
	</body>
</html>